<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Expenses!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css">
  </head>

  <body>
    <div class="navbar-fixed">

      <nav>
        <div class="nav-wrapper">
          <a class="brand-logo" href="#">Logo</a>
          <ul class="dropdown-content" id="dropdown1">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>

          <ul id="mobile-demo" class="side-nav">
            <li><a href="#">Categories</a></li>
            <li><a href="#">Products</a></li>
            <li>
              <a class="dropdown-button" href="#!" data-activates="dropdown1">
                Menu<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>

          <a class="button-collapse" href="#" data-activates="mobile-demo">
            <i class="material-icons">menu</i></a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Categories</a></li>
            <li><a href="#">Products</a></li>
            <li>
              <a class="dropdown-button" href="#" data-activates="dropdown1">
                Menu<i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>

        </div>
      </nav>
    </div>

    <div class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <br>
    </div>
     <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js">
    </script>
    <script>
      $(document).ready(function(){
            $('.dropdown-button').dropdown();
            $('.button-collapse').sideNav();
            $('.parallax').parallax();
      });
    </script>

  </body>
</html>
