<h4>Purchases</h4>
<div class="center-align section">
  <p><i class="material-icons">receipt</i> <b>Ticket nº:</b><%= @ticket.id %><b> Market:</b> <%= @ticket.market.name %> <b>Date:</b> <%= datetime_to_string(@ticket.date_ticket) %></p>
</div>
<div class="divider"></div>

<table class="striped">
  <thead>
    <tr>
      <th data-field="id">Id</th>
      <th data-field="description">Description</th>
      <th data-field="price">Price</th>
    </tr>
  </thead>
  <tbody>
    <%= for purchase <- @purchases do %>
      <tr>
          <td> <%= purchase.id %> </td>
          <td> <%= purchase.description %> </td>
          <td name="price"><%= purchase.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="section right">
  <p>Total: <%= total_price(@purchases) %></p>
</div>
<br>
<div class="section right">
  Total:<input type="text" name="total" id="total"/>
</div>
<br><br>
<%= link "new", to: purchase_path(@conn, :new, @ticket.id), class: "btn btn-primary" %>
<!--
<script type="text/javascript">
  function addPrices(){
    var arr = document.getElementsByTagName('td');
    var tot = 0;
    for(var i=0;i<arr.length;i++){
      if(arr.namedItem('price'))
      if(parseInt(arr[i].innerHTML))
        tot += parseInt(arr[i].innerHTML);
    }
    document.getElementById('total').value = tot;
  }
</script> -->
